---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <p class="animate">
              IT-Consulting & Cloud-Engineering aus Deutschland. Ich konzipiere und betreibe
              DSGVO-konforme Infrastruktur auf deutscher Cloud-Infrastruktur –
              von schlanken Docker-Setups bis zu Kubernetes-Clustern. Für kleine Projekte oder
              Startups geben Unternehmen oft zu viel Geld bei den großen Cloud-Providern
              (AWS, Azure, Google) aus, obwohl ein einfacheres Setup ausreichen würde. Selbst
              ein kleiner Kubernetes-Cluster lässt sich für gut 10 EUR im Monat betreiben.
            </p>
            <p class="animate">
              Außerdem bin ich Spring-Boot-Experte mit langjähriger Erfahrung in der Entwicklung
              sicherer und zuverlässiger Services für den Zahlungsverkehr einer Bank.
              Konzeption und Umsetzung einer Authentifizierungs-Infrastruktur und Prozesse zur
              rechtzeitigen Behebung von sicherheitskritischen Lücken sind dabei meine
              Spezialgebiete.
            </p>
            <p class="animate">
              Abschließend noch ein bisschen Technik: Meine Website läuft auf einem
              Hetzner-Cloud-Server in Nürnberg, hinter Caddy mit automatischem Let's-Encrypt-TLS,
              in einem Zero-Trust Docker-Netzwerk – vollständig verwaltet mit Pulumi und deployt via
              Github-Actions. Der Code dafür steht auf
              <a href="https://github.com/trettstadt/trettstadt-website">Github</a> zur Verfügung.
            </p>
          </article>
        </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Kontakt
        </h5>
        <article>
          <p>
            Kontaktiere mich auf sozialen Medien oder schreib mir einfach eine E-Mail.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
